$bg-head-foot: #f7f7f7;
//$bg-main: #efebfd;
$bg-main: #fff;
$bg-code: #c2c2c2;
$color: #de1d3e;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #616161;
  overflow-x: hidden;
}

h3 {
  padding: 10px 40px;
}

hr {
  background-color: $color;
  height: 1px;
  width: auto;
  margin-bottom: 10px;
}

.wrapper {
  width: 100%;
  height: auto;
  background: $bg-head-foot;
  main {
    background: $bg-main;
  }
}

.container {
  margin: 0px auto;
  max-width: 960px;
  height: auto;
}

.top__menu {
  padding: 10px 0px;
  ul {
    text-align: center;
  }
  li {
    list-style: none;
    display: inline;
    padding: 0px 10px;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: $color;
  }
}

.top__content {
  display: flex;
  justify-content: space-between;
  .top__info {
    position: relative;
    top: 15px;
    width: 100%;
    padding: 30px 30px;
    text-align: center;
    h1 {
      margin-bottom: 20px;
    }
    hr {
      margin-bottom: 20px;
    }
  }
  .top__photo {
    img {
      width: 164px;
      border-radius: 10%;
    }
  }
}

.about-me {
  p {
    padding: 0px 30px;
    text-align: center;
  }
}

.skills {
  .skills__list {
    display: flex;
    justify-content: space-around;
  }
  li {
    text-align: left;
    //list-style: none;
  }
}

.code {
  .comment-code {
    opacity: 0.5;
    font-weight: 100;
  }
  span {
    font-weight: bold;
  }
}

pre {
  //margin-top: -30px;
  line-height: 20px;
  height: 310px;
  margin-bottom: 10px;
  background: $bg-head-foot;
}
code {
  display: block;
  margin-top: -15px;
}

.education {
  span {
    font-weight: bold;
  }
  li {
    //list-style: none;
    margin-left: 60px;
    //text-align: center;
  }
}

.experience {
  h5 {
    text-transform: uppercase;
  }
  li {
    margin-bottom: 10px;
    margin-left: 60px;
    //list-style: none;
    //text-align: center;
  }
  ul {
    ul {
      li {
        margin-left: 35px;
      }
    }
  }
}

.language {
  span {
    font-weight: bold;
  }
  ul {
    padding-left: 150px;
    padding-right: 150px;
    columns: 2;
  }
  li {
    list-style: none;
    text-align: center;
  }
}
