$bg-head-foot: #f7f7f7;
$bg-main: #ffd5dc;
$color: #de1d3e;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #616161;
  overflow-x: hidden;
}

ul {
  text-align: center;
}

li {
  list-style: none;
  display: inline;
  padding: 0px 10px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: $color;
  }
}

hr {
  background-color: $color;
  height: 3px;
  width: auto;
  margin: 20px;
}

.wrapper {
  width: 100%;
  height: auto;
  background: $bg-head-foot;
}

.container {
  margin: 0px auto;
  max-width: 960px;
  height: auto;
}

//.top {
//  width: 100%;
//}

.top__menu {
  padding: 10px 0px;
}

.top__content {
  display: flex;
  justify-content: space-between;
  .top__info {
    position: relative;
    top: 15px;
    width: 100%;
    padding: 30px 30px;
    text-align: center;
  }
  .top__photo {
    img {
      width: 164px;
      border-radius: 10%;
    }
  }
}
